body
{
    background-position: center;
    background-size: cover;
}
h1{
    color: rgb(4, 248, 53);
    font-size: 25px;
}
h2{
    color: whitesmoke;
    font-size: 20px;
}

h4{
    color: beige;
    
}
